* {
  box-sizing: border-box;
  color: #555;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 20px;
  margin: 0;
  outline: none;
}

body {
  background-color: #eee;
}

button, input, ::placeholder, select, option {
  font-family: "mr-eaves-modern", sans-serif;
}

::placeholder {
  opacity: .4;
  text-align: center;
}

button, input, select, option {
  border: none;
  font-weight: 900;
  height: 47px;
  outline: none;
}

button {
  cursor: pointer;
}

h1 {
  font-family: "cortado", sans-serif;
  font-size: 50px;
  margin: 0;
  text-align: center;
  width: 266px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 40px;
}

header {
  align-items: center;
  background-color: #eee;
  display: flex;
  height: 94px;
  justify-content: space-between;
  padding: 0 28px 0;
  position: relative;
}

main {
  display: flex;
}

/******** TOP INPUTS ********/
.header-inputs {
  display: flex;
  width: 390px;
}

.new-project-input {
  background: none;
  border-bottom: 5px solid #ccc;
  width: 300px;
}

.header-button {
  background-color: #ccc;
  margin-left: 10px;
  width: 80px;
}

.header-button:hover {
  background-color: #aaa;
}

.dropdown-container {
  margin-left: auto;
}

.project-dropdown {
  background-color: #fff;
  border-radius: 0px;
  color: #999;
  font-size: 30px;
  height: 47px;
  margin: 0 29px 0 10px;
  width: 250px;
}

.delete-project-button {
  cursor: pointer;
  margin-left: auto;
  opacity: .2;
  position: relative;
  top: 7px;
  width: 25px;
}

.delete-project-button:hover {
  opacity: .4;
}

.error-message {
  bottom: 1px;
  color: red;
  opacity: .5;
  position: absolute;
  right: 146px;
  text-align: center;
  width: 244px;
}

/******** MIDDLE BUTTONS ********/
.button-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.generate-button {
  background-color: #d3d3d3;
  height: 94px;
  width: 50vw;
}

.generate-button:hover {
  background-color: #b3b3b3;
}

.save-palette-button {
  background-color: #929292;
  height: 94px;
  width: 50vw;
}

.save-palette-button:hover {
  background-color: #727272;
}

/******** PAGE MIDDLE ********/
.main-colors {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 47vh;
  justify-content: flex-end;
  padding-bottom: 9px;
  width: 20vw;
}

.all-locks {
  cursor: pointer;
  opacity: .25;
  width: 31px;
}

.all-locks:hover {
  opacity: .5;
}

.hex-values {
  font-weight: 900;
  margin-top: 10px;
  opacity: .2;
}

.color-1 {
  background-color: #ccc;
}

.color-2 {
  background-color: #aaa;
}

.color-3 {
  background-color: #888;
}

.color-4 {
  background-color: #666;
}

.color-5 {
  background-color: #444;
}

/******** PAGE BOTTOM ********/
.bottom-section-container {
  display: flex;
  margin: auto;
  width: 80vw;
}

.palette-block {
  margin-left: 20vw;
  width: 40vw;
}

.palette-title-row {
  align-content: center;
  display: flex;
}

/**** PROJECTS ****/
h2 {
  color: #bbb;
  font-size: 40px;
  height: 47px;
  margin: 25px 10px 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-name-span {
  font-size: 40px;
}

.project-h2 {
  margin-bottom: 9px;
}


/**** PALETTES ****/
.palette-holder {
  align-content: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 25px;
}

.palette-name-input {
  border-bottom: 5px solid #fff;
  padding-top: 7px;
  text-align: center;
  transition: ;
  width: 20vw;
  background: none;
}

.palette-name-h5 {
  background-color: #fff;
  border-bottom: 5px solid #fff;
  overflow: hidden;
  padding-top: 13px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20vw;
}

.pencil {
  bottom: 6px;
  cursor: pointer;
  left: 6px;
  opacity: .2;
  position: absolute;
  width: 25px;
}

.pencil:hover {
  opacity: .5;
}

.palette-colors-holder {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  width: 20vw;
}

.palette-colors {
  cursor: pointer;
  height: 47px;
  width: 30px;
}

.palette-color-1 {
  background-color: #ccc;
}

.palette-color-2 {
  background-color: #aaa;
}

.palette-color-3 {
  background-color: #888;
}

.palette-color-4 {
  background-color: #666;
}

.palette-color-5 {
  background-color: #444;
}

.delete-palette-button {
  background: none;
}

.trash {
  opacity: .2;
  position: relative;
  top: 2px;
  width: 25px;
}

.trash:hover {
  opacity: .4;
}

@media screen and (max-width: 1040px) {
  header {
    flex-direction: column;
    height: unset;
    padding: 11px 0 15px;
  }

  .dropdown-container {
    margin: 15px auto;
  }

  .project-dropdown {
    margin: 0;
  }

  .header-inputs {
    width: 277px;
  }

  .bottom-section-container {
    width: 70vw;
  }

  .palette-block {
    margin-left: 0;
    width: 70vw;
  }

  .palette-name-h5 {
    width: 35vw;
  }

  .palette-colors-holder {
    width: 35vw;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .main-colors {
    height: unset;
    padding-top: 19px;
    width: unset;
  }
}

@media screen and (max-width: 550px) {
  .bottom-section-container {
    width: 94vw;
  }

  .palette-block {
    width: 94vw;
  }

  .button-container {
    flex-direction: column;
  }

  .palette-name-h5 {
    width: 47vw;
  }

  .palette-colors-holder {
    width: 47vw;
  }

  .generate-button, .save-palette-button {
    width: 100%;
  }
}