* {
  box-sizing: border-box;
  font-family: "mr-eaves-modern", sans-serif;
  color: #555;
  margin: 0;
  font-size: 20px;
  outline: none;
}

body {
  background-color: #eee;
}

button, input, ::placeholder, select, option {
  font-family: "mr-eaves-modern", sans-serif;
}

::placeholder {
  opacity: .4;
  text-align: center;
}

button, input, select, option {
  font-weight: 900;
  height: 47px;
  border: none;
  outline: none;
}


button {
  cursor: pointer;
}

h1 {
  font-family: "cortado", sans-serif;
  font-size: 50px;
  margin: 0;
  width: 246px;
  text-align: center;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 40px;
}

header {
  padding: 0 28px 0;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  height: 94px;
  align-items: center;
}

main {
  display: flex;
}

/******** TOP INPUTS ********/
.header-inputs {
  display: flex;
  width: 390px;
}

.new-project-input {
  border-bottom: 5px solid #ccc;
  background: none;
  width: 300px;
}

.header-button {
  width: 80px;
  margin-left: 10px;
  background-color: #ccc;
}

.header-button:hover {
  background-color: #aaa;
}

.project-dropdown {
  font-size: 30px;
  margin: 0 29px 0 auto;
  border-radius: 0px;
  height: 47px;
  width: 250px;
  background-color: #fff;
  color: #999;
}

/******** MIDDLE BUTTONS ********/
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: auto;
}

.generate-button {
  width: 50vw;
  height: 94px;
  background-color: #d3d3d3;
}

.generate-button:hover {
  background-color: #b3b3b3;
}

.save-palette-button {
  width: 50vw;
  height: 94px;
  background-color: #929292;
}

.save-palette-button:hover {
  background-color: #727272;
}

/******** PAGE MIDDLE ********/
.main-colors {
  width: 20vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 9px;
}

.all-locks {
  opacity: .25;
  width: 31px;
  cursor: pointer;
}

.all-locks:hover {
  opacity: .5;
}

.hex-values {
  font-weight: 900;
  opacity: .2;
  margin-top: 10px;
}

.color-1 {
  background-color: #ccc;
}

.color-2 {
  background-color: #aaa;
}

.color-3 {
  background-color: #888;
}

.color-4 {
  background-color: #666;
}

.color-5 {
  background-color: #444;
}

/******** PAGE BOTTOM ********/
.bottom-section-container {
  width: 80vw;
  display: flex;
  margin: auto;
}

.palette-block {
  width: 40vw;
  margin-left: 20vw;
}

.palette-title-row {
  display: flex;
  align-content: center;
}

/**** PROJECTS ****/
h2 {
  font-size: 40px;
  color: #bbb;
  height: 47px;
  margin: 25px 10px 14px 0 ;
}

.project-name-span {
  font-size: 40px;
}

.project-h2 {
  margin-bottom: 9px;
}


/**** PALETTES ****/
.palette-holder {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin: 0 0 25px;
}

.palette-name-input {
  width: 20vw;
  text-align: center;
  border-bottom: 5px solid #fff;
  padding-top: 7px;
  transition: ;

  background: none;
}

.palette-name-h5 {
  width: 20vw;
  text-align: center;
  background-color: #fff;
  padding-top: 13px;
  border-bottom: 5px solid #fff;
  position: relative;
}

.pencil {
  width: 25px;
  position: absolute;
  opacity: .2;
  cursor: pointer;
  left: 6px;
  bottom: 6px;
}

.pencil:hover {
  opacity: .5;
}

.palette-colors-holder {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  padding-left: 2vw;
}

.palette-colors {
  width: 30px;
  height: 47px;
}

.palette-color-1 {
  background-color: #ccc;
}

.palette-color-2 {
  background-color: #aaa;
}

.palette-color-3 {
  background-color: #888;
}

.palette-color-4 {
  background-color: #666;
}

.palette-color-5 {
  background-color: #444;
}

.delete-palette-button {
  background: none;
}



.trash {
  width: 25px;
  opacity: .2;
  position: relative;
  top: 2px;
}

.trash:hover {
  opacity: .4;
}
